.page {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 28px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #2a2c2f;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 16px;
  }
}

