.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-rendering: optimizeLegibility;
  max-width: 720px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 414px) {
  .lead__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 360px) {
  .lead__title {
    font-size: 41px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    min-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}